:root{
    --main-text-color: white;
    --imp-text-color: orange;
}
*{
    font-family: inconsolata,monospace;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    color: var(--main-text-color);
    
}
body{
    /*background-color: #232323;*/
    background-image: url(Images/abstract-hexagonal-black-design.jpg);
    background-size: cover;
    overflow: hidden;
}
ul{
    list-style-type: circle;
}

.back-button{
    width: 2vw;
    height: 2vw;
    color: white;
    position: absolute;
    left: 1vw;
    top: 1vw;
    z-index: 10000;
}

.title{
    margin-top: 3vw;
    width: 100%;
    color: white;
    font-size: 5rem;
    text-align: center;
}

.main-content{
    left: 5vw;
    width: 90%;
    height: 100%;
    margin-top: 3vh;
    overflow: hidden;
    position: relative;
}

.game-img{
    width: 50vw;
    position: absolute;
    left: 40vw;
    top: 20vw;
    z-index: 1000;
    border-radius: 1vw;
}
.cothe-logo{
    width: 10vw;
    position: absolute;
    bottom: 2vw;
    left: 5vw;
}