:root{
    --main-text-color: white;
    --imp-text-color: orange;
}
*{
    font-family: inconsolata,monospace;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    color: var(--main-text-color);
    
}
body{
    background-color: #232323;
    /*background-image: url(Images/black-trianglify-b6181ec2.jpg);
    background-size: cover;*/
}

#canvas{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #16181a;
    z-index: -100;
    /*background-image: radial-gradient(#ff3cac 0%, #784ba0 40%, #2b86c5 100%);*/
}

.back-button{
    width: 2vw;
    height: 2vw;
    color: white;
    position: absolute;
    left: 1vw;
    top: 1vw;
    z-index: 10000;
}

.title{
    margin-top: 5vw;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 5rem;
    position: relative;
}

.main-content{
    margin-left: 5vw;
    width: 90%;
}